html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.Dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.Dashboard > div {
    margin-right: 20px;
}


.MainMenu {
    background-color: lightgray;
    padding: 15px;
}

.MainMenu > div {
    padding: 5px;
    cursor: pointer;
}

.MainMenu .selected {
    background-color: gray;
}

