html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 16px;
}

.Dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.Dashboard > div {
    margin-right: 20px;
}


.MainMenu {
    background-color: lightgray;
    padding: 15px;
}

.MainMenu > div {
    padding: 5px;
    cursor: pointer;
}

.MainMenu .selected {
    background-color: gray;
    border-radius: 3px;
}

.CredentialList {
    background-color: lightgray;
    padding: 10px;
}

.CredentialList__item {
    padding: 10px;
    cursor: pointer;
    min-width: 280px;
    box-sizing: border-box;
}

.CredentialList__item:not(:last-child) {
    border-bottom: 1px solid black;
}

.CredentialList__item-selected {
    border-right: 10px solid gray;
}

.website_title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.CredentialList__shared  {
    display: inline-block;
    color: white;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
}

.CredentialDetails {
    position: relative;
    height: 200px;
    width: 300px;
    background-color: lightgray;
    padding: 10px;
}

.CredentialDetails__delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
}

.CredentialDetails_sharing {
    margin-top: 20px;
}

.CredentialDetails_sharing > div {
    margin-top: 10px;
    font-size: 14px;
}

.CredentialDetails_sharing > input {
    margin-left: 5px;
    font-size: 18px;
}
