html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 16px;
}

.Dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.Dashboard > div {
    margin-right: 20px;
}


.MainMenu {
    background-color: lightgray;
    padding: 15px;
}

.MainMenu > div {
    padding: 5px;
    cursor: pointer;
}

.MainMenu .selected {
    background-color: gray;
    border-radius: 3px;
}

.CredentialList {
    background-color: lightgray;
    padding: 10px;
}

.CredentialList__item {
    padding: 10px;
    cursor: pointer;
    min-width: 200px;
}

.CredentialList__item:not(:last-child) {
    border-bottom: 1px solid black;
}

.CredentialList__website {
    font-weight: bold;
    font-size: 18px;
}

.CredentialList__shared  {
    display: inline-block;
    color: white;
    background-color: gray;
    padding: 5px;
    border-radius: 3px;
}
